@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:ital,wght@1,300&display=swap');

body{

    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Inter','Roboto';
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 68vh;
    background-color: black;
    color: white;
    font-family: 'Inter','Roboto';
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 11px;
    padding: 34px;
    background-image: url('bg.jpg');
}
.bottom{
   position: sticky;
   height: 140px;
   background-color:black ;
   color: white;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myprogressBar{
   width: 75vw;
   cursor: pointer;
}

.songItem{
    height: 40px;
    display: flex;
    background-color: white;
    width: 145%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 44px;
    
}  
.songItemContainer{
    margin-top: 74px;
}

.songItem img{
   width: 43px;
   margin: 0 21px;
   border-radius: 10px;

}
.timestamp{
    margin: 0 23px;
    
}

.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.8s ease-in;
}
